:root {
    --flex: flex;
    --center: center;
    --space-around: space-around;
    --space-between: space-between;
    --nowrap: nowrap;
    --wrap: wrap;
    --flex-end: flex-end;
    --flex-start: flex-start;
    --vermelho: #D10000;
    --cinza: #383838;
    --branco: rgb(243, 243, 243);
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--branco);
}


@media only screen and (max-width: 800px) {}